body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allSpecies {
  padding: 5em;
}

.quantity {
  text-align: center;
}

.loginButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepageImage {
  height: 40vw;
  width: 65vw;
  border-radius: 25px;
  margin-right: 2em;
}
